<div class="container mt-5 text-light p-4">
    <h1 class="text-center mb-4">¿Buscas empleo? ¡Rellena este formulario!</h1>
    <form>
      <div class="mb-3">
        <label for="nombreDemanda" class="form-label">Nombre:</label>
        <input type="text" id="nombreDemanda" class="form-control bg-secondary text-light border-0" placeholder="Tu nombre completo" required>
      </div>
  
      <div class="mb-3">
        <label for="descripcionDemanda" class="form-label">Descripción:</label>
        <textarea id="descripcionDemanda" class="form-control bg-secondary text-light border-0" rows="3" placeholder="Describe tus habilidades y experiencia" required></textarea>
      </div>
  
      <div class="mb-3">
        <label for="sectorDemanda" class="form-label">Sector:</label>
        <select id="sectorDemanda" class="form-select bg-secondary text-light border-0" required>
          <option value="Tech">Tech/Informática</option>
          <option value="Educación">Educación</option>
          <option value="Restauración">Restauración</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="tipoDemanda" class="form-label">Tipo de empleo:</label>
        <select id="tipoDemanda" class="form-select bg-secondary text-light border-0" required>
          <option value="Jornada completa">Jornada completa</option>
          <option value="Media jornada">Media jornada</option>
          <option value="Freelance">Freelance</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="experienciaDemanda" class="form-label">Experiencia:</label>
        <select id="experienciaDemanda" class="form-select bg-secondary text-light border-0" required>
          <option value="Menos de 1 año">Menos de 1 año</option>
          <option value="1 a 3 años">1 a 3 años</option>
          <option value="4 a 5 años">4 a 5 años</option>
          <option value="Más de 5 años">Más de 5 años</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="ubicacionDemanda" class="form-label">Ubicación:</label>
        <select id="ubicacionDemanda" class="form-select bg-secondary text-light border-0" required>
          <option value="Valencia">Valencia</option>
          <option value="Madrid">Madrid</option>
          <option value="Barcelona">Barcelona</option>
        </select>
      </div>
  
      <div class="text-center">
        <button type="button" class="btn btn-warning my-2" (click)="enviarDemanda()">Enviar solicitud</button>
      </div>
    </form>
  </div>
  