main{
    min-height: 90vh;
}

form{
    margin: 5vh auto;
    width: 60%;
    max-width: 30rem;
    min-width: fit-content;
}

.search-bar{
  display: flex;
  align-items: center;
  min-width: 70vw;
}

.input-search{
  max-height: fit-content;
}

.filter-div{
  min-width: 70vw !important;
}

.form-control:focus, .form-select:focus {
    box-shadow: 0 0 0 0.15rem rgba(255, 193, 7, 1); 
}

.nav-pills .nav-link {
    color: white; /* Texto blanco predeterminado */
    background-color: transparent; /* Fondo transparente */
    border-radius: 0.5rem;
    margin: 0.1vw;
    transition: background-color 0.3s, color 0.3s;
  }

  .nav-pills .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.082); /* Fondo translúcido en hover */
    color: #ffc107 !important; /* Texto amarillo en hover */
  }
  
  .nav-pills .nav-link.active {
    background-color: #ffc107;
    font-weight: 600;
    color: rgb(49, 46, 46) !important ;
  }
  
  .btn, .nav-pills .nav-link{
    font-weight: 600;
  }